In [1]:
import pandas as pd

In [2]:
candidate_sentences = pd.read_csv(
    "E:\Work\workbackups\llm\sentencetrial2.csv"
)

In [3]:
candidate_sentences

      index             source                target          edge
0         0             connie                   own       decides
1         1      later  scream              distance      heard in
2         2          christian           then  elder  paralyzed by
3         3             temple                  fire        set on
4         5                 it  religious  awakening            's
...     ...                ...                   ...           ...
4071   4312            filming             7  august  completed on
4072   4313       confidencial      negatively  film     responded
4073   4314        le parisien      five star rating          gave
4074   4315  museum collection    37,000 film titles      includes
4075   4316        predecessor  historical film 1946           was

[4076 rows x 4 columns]

In [4]:
candidate_sentences.drop(columns='index')

                 source                target          edge
0                connie                   own       decides
1         later  scream              distance      heard in
2             christian           then  elder  paralyzed by
3                temple                  fire        set on
4                    it  religious  awakening            's
...                 ...                   ...           ...
4071            filming             7  august  completed on
4072       confidencial      negatively  film     responded
4073        le parisien      five star rating          gave
4074  museum collection    37,000 film titles      includes
4075        predecessor  historical film 1946           was

[4076 rows x 3 columns]

In [5]:
candidate_sentences

      index             source                target          edge
0         0             connie                   own       decides
1         1      later  scream              distance      heard in
2         2          christian           then  elder  paralyzed by
3         3             temple                  fire        set on
4         5                 it  religious  awakening            's
...     ...                ...                   ...           ...
4071   4312            filming             7  august  completed on
4072   4313       confidencial      negatively  film     responded
4073   4314        le parisien      five star rating          gave
4074   4315  museum collection    37,000 film titles      includes
4075   4316        predecessor  historical film 1946           was

[4076 rows x 4 columns]

In [6]:
candidate_sentences = candidate_sentences.drop(columns='index')

In [7]:
candidate_sentences

                 source                target          edge
0                connie                   own       decides
1         later  scream              distance      heard in
2             christian           then  elder  paralyzed by
3                temple                  fire        set on
4                    it  religious  awakening            's
...                 ...                   ...           ...
4071            filming             7  august  completed on
4072       confidencial      negatively  film     responded
4073        le parisien      five star rating          gave
4074  museum collection    37,000 film titles      includes
4075        predecessor  historical film 1946           was

[4076 rows x 3 columns]

In [8]:
import bs4

import requests

import spacy

from spacy import displacy

  

# Load the English language model

nlp = spacy.load("en_core_web_sm")

  

from spacy.matcher import Matcher

from spacy.tokens import Span

  

import networkx as nx

import pandas as pd

  

from transformers import AutoTokenizer, AutoModelForCausalLM

import transformers

import torch

C:\Users\Smit\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [10]:
model = "lmsys/vicuna-7b-v1.1"

  

tokenizer = AutoTokenizer.from_pretrained(model, offload_folder="E:\Work\workbackups\localdata")

pipeline = transformers.pipeline("text-generation", model=model, tokenizer=tokenizer, torch_dtype=torch.bfloat16, trust_remote_code=True)

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]